@model Api_OData.Apis.AuthRequest;
@{
    ViewData["Title"] = "Login Page";
    Layout = null;
    string? loginError = ViewData["loginError"] as string;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 100px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .signin {
            text-align: center;
        }
    </style>
</head>

<div class="container">
    <h2>Login</h2>
    <p style="color: red">@loginError</p>

    <form method="post" asp-action="Auth" autocomplete="off">
        <label asp-for="Email">MemberId</label>
        <input type="text" asp-for="Email" required value="johndoe@@example.com" autofocus="true">
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password" value="password1" required>
        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
</div>

